h1 {
    background-color: lightblue;
    font-style: italic;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: antiquewhite;
}

/* asi como la clase trabajo, sirve para hacer enfasis sobre algun texto en particular */
.importante {
    font-weight: bolder;
    font-style: italic;
}

/* Clase para resaltar mi trabajo del resto del cv */
.trabajo {
    background-color: aquamarine;
}

p {
    color: darkblue;
}

/* Esta clase la agregue para poder resaltar palabras puntuales haciedno uso de span con class igual a resaltado. */
.resaltado {
    color: blue;
    font-weight: bold;
}

/* Esta regla de caja la use con la pag de cssgradient */
#caja {
    margin: auto;
    padding: 8px;

    border-radius: 10px;
    background: rgb(131, 228, 16);
    background: linear-gradient(90deg, rgba(131, 228, 16, 1) 78%, rgba(30, 237, 255, 1) 90%, rgba(178, 117, 255, 1) 100%);
}

.texto {
    columns: 2;
    background-color: beige;
}